.App {
  text-align: center;
  height: 100%;
}


.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: block;
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

footer {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  background-color: #282c34;
  color: white;
  bottom: 0;
}

footer>p {
  padding-right:20px;
}

